Source: riemann
Section: net
Priority: extra
Maintainer: Lance Linder <llinder@medicomhealth.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://aphyr.github.com/riemann/
Vcs-Git: git://git@github.com:medicomhealth/riemann.git
Vcs-Browser: https://github.com/medicomhealth/riemann

Package: riemann
Architecture: all
Depends: default-jre, ${misc:Depends}
Description: Riemann monitors distributed systems.
 Riemann aggregates events from your servers and applications 
 with a powerful stream processing language. Send an email for 
 every exception raised by your code. Track the latency 
 distribution of your web app. See the top processes on any host, 
 by memory and CPU. Combine statistics from every Riak node 
 in your cluster and forward to Graphite. Send alerts when a key 
 process fails to check in. Know how many users signed up right 
 this second.
 .
 Riemann provides low-latency, transient shared state for systems 
 with many moving parts.
